<div class="fields">
  <div class="min_user">
    <!-- x icon to remove -->
    <%# f.link_to_remove(raw("<i class='icon-remove'></i>")) %>
    <!-- fields -->
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <% if current_user.role? :admin %>
      <%= f.input :role, :collection => User::ROLES %>
    <% end %>
  </div>
</div>