<div class="row">
	<div class="span8">
		<h3>Active Students</h3>
		<%= render :partial => "active_students" %>
	</div>
	<div class="span4">
		<h3>Inactive Students</h3>
		<%= render :partial => "inactive_students" %>
	</div>
</div>

<%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Student"), new_student_path, :class => 'btn btn-primary', :id => 'Create Student' %>