<div class="nav-collapse">
  <ul class="nav">
    <li><%= link_to "Students", students_path %></li>
    <li><%= link_to "Sections", sections_path %></li>
    <li><%= link_to "Events", events_path %></li>
		<!-- <li><%# link_to "Registrations", registrations_path %></li> -->
  </ul>
</div>