<div class="row">
	<div class="span12">
		<h3>Tournaments</h3>
		<%= render :partial => "all_tournaments" %>
	</div>
</div>

<% if current_user.role? :admin %>
  <%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Tournament"), new_tournament_path, :class => 'btn btn-primary', :id => 'Create Student' %>
<% end %>