<div class="row">
	<div class="span8">
	  <h2>Welcome to the A &amp; M Karate Tournament System</h2>

	  <p><%= image_tag 'logo.png', :class => "right", :id => "logo" %> The A&M Karate School is dedicated to providing 
	  	you and your children with the finest teachers in the Pittsburgh area.  
	  	The links below will tell you more about our services and in 
	  	the near future we will be expanding this site so that 
	  	customers like yourself can directly access records for your
	  	students.
	  </p>
	</div>

	<div class="span4">
		<div class="well">
			<h3>Access to Tournament System:</h3>
			<p>If you are a registered user, 
			<%= link_to "click here to login", login_path %>. Otherwise, you 
			are just SOL <em>unless</em> you can guess our secret sign-up page.</p>
		</div>
	</div>
</div>