<h2>About the A &amp; M Karate School</h2>
<br>
<div class="row">
	<div class="span6">
		<p>
			Grandmaster Maurice Ashley once said "Chess is intellectual karate."  The inverse of 
			that is "Karate is physical chess" and that in many ways sums up our philosophy that 
			governs the A &amp; M Karate School.  
		</p>

		<p> We know how important your children are to you. We know 
			how much you love them and how they are a part of 
			your family.  And although we live in the 'Steel City' 
			and the people here are tough, we also know your children 
			aren't always as rugged. That's why the masters   
			at Pittsburgh's A&M Karate School is committed 
			to giving you and your children only the best training at 
			the most affordable prices.  Come visit our dojo 
			at 5000 Forbes Avenue (Porter 224A) and see how we
			can help your children toughen up.</p>
			</div>
	<div class="span6">
		<%= image_tag 'club.jpg', :class => "right" %>
	</div>
</div>