<h2>About the A &amp; M Karate School</h2>
<div class="row">
	<div class="span8">
		<p>
			Grandmaster Maurice Ashley once said "Chess is intellectual karate."  The inverse of 
			that is "Karate is physical chess" and that in many ways sums up our philosophy that 
			governs the A &amp; M Karate School.  
		</p>
	</div>
	<div class="span4">
		picture here
	</div>
</div>