<h2>Contact the A &amp; M Karate School</h2>
<br/>
<div class="row">
	<div class="span6">
		<p>	Please dont contact us, but if you must, the A&M Karate School is not a real karate school, but rather a 
			sample project for programming students at Carnegie Mellon University. We 
			are sure that you wanted treatment for your children from the most exquisite 
			dojo masters on the planet, but that's how it goes sometimes.  If you are 
			bitterly disappointed (and quite honestly, you should be) and want to 
			grouse to someone, here's the contact info:</p>
		
		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Alex Mark*</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("ajmark@andrew.cmu.edu", "ajmark@andrew.cmu.edu", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>123-456-7890</td>
			</tr>
		</table>
		
		<p class="note"><br>*I am a student of a professor of information systems at Carnegie Mellon 
			University. This is the finished version of a semester long project from his class completed in the 2013 spring semester.   
		</p>
	</div>
	<div class="span6">
		<%= image_tag 'miyagi.jpg', :class => "left" %>
	</div>
</div>