<div class="row">
	<div class="span12">
		<h3>Active Dojos</h3>
		<%= render :partial => "all_dojos" %>
	</div>
</div>

<%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Dojo"), new_dojo_path, :class => 'btn btn-primary', :id => 'Create Dojo' %>