<div class="row">
	<div class="span6">
		<h3>Active Dojos</h3>
		<%= render :partial => "all_dojos" %>
	</div>
	<div class="span6">
	</div>
</div>

<% if logged_in? and current_user.role? :admin %>
  <%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Dojo"), new_dojo_path, :class => 'btn btn-primary', :id => 'Create Dojo' %>
<% end %>